*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
  height: 100vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* CSS to center the login form */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f0f2f5; /* Optional background color */
}

.login-form {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex a {
  color: #007bff;
}

/* Common styling for both login and register forms */
.register-page, .login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f0f2f5; /* Optional background color */
}

.register-form, .login-form {
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex a {
  color: #007bff;
}


/* transection page */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}


/* antd icons */
.anticon svg{
  font-size: 20px;
  cursor: pointer;

}

.active-icon{
  color: black;
}

.inactive-icon{
  color: gray;
}

.switch-icons{
  border: 1px solid rgba(0,0,0,0.677);
  border-radius: 5px;
  padding: 10px 15px;
}